* {
	padding: 0;
	margin: 0;
}
body {
	font-size: 100%;
  }
p {
	margin-top: 0.714em;			/* 10/14 */ 
}
.box {
  	margin-left: 1.125em;			/* 18/16 */
}
.nikita-jiandani-copy-3 {
	color: #000000;
	font-family: "Patua One";
	font-size: 2em;					/* 32/16 */
	font-weight: 100;
	line-height: 36px;
	margin-top: 0.75em;				/* 24 */
}
.about-me {
	color: #248700;
	font-family: "Patua One";
	font-size: 1.25em;				/* 20/16 */
	font-weight: 100;
  	margin-top: 1.2em;				/* 24 */
}
.image {
	background-image: url("./assets/niki---about-me-XS.png");
	width: 100%;
	height: 207px;
	background-repeat: no-repeat;
}
.content {
	color: #2A2C2E;
	font-family: Lato;
	font-size: 0.875em;				/* 14/16 */
	padding-top: 12px;
	margin-right: 1.1428em;			/* 16 */
}
.navbar {
	height: 39.02px;
	width: 100%;
	background-color: #248700;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	bottom: 0;
}
.navbar a {
	display: inline-block;
	text-decoration: none;
	padding-top: 7px;
	padding-bottom: 8px;
}
.tab {
	color: #FFFFFF;
	font-family: "Patua One";
	font-size: 1.25em;				/* 20/16 */
	letter-spacing: 0.25px;
  	line-height: 24px;
}
#last {
	margin-bottom: 5em;				/* 70 */
}
#pipe {
	height: 1.85em;
	width: 0.165em;
	background-color: #FFFFFF;
	margin-top: 0.05em;				/* 1 */
}
/* TABLET */
@media (min-width: 768px){
	.nikita-jiandani-copy-3 {
		font-size: 3.75em;			/* 60/16 */
		line-height: 60px;
	}
	.about-me {
		font-size: 2.25em;			/* 36/16 */
		line-height: 44px;
		margin-top: 2.083333em;   	/* 75 */
	}
	.image {
		background-image: url("./assets/niki---about-me-M.png");
		height: 370px;
	}
	.content {
		margin-right: 15.44444em;	/* 278 */
		font-size: 1.125em;			/* 18/16 */
		line-height: 22px;
	}
	.navbar {
		height: 90px;
		justify-content: flex-start;
		align-items: center;
	}
	.tab {
		font-size: 2.25em;			/* 36/16 */
		letter-spacing: 0.45px;
		line-height: 44px;
		margin-left: 0.88888em;		/* 32 */
	}
	#pipe {
		height: 63px;
		width: 0.15em;
	}
	#last {
		margin-bottom: 6.66666em;	/* 120 */
	}
}
/* DESKTOP */
@media (min-width: 1024px) {
	.container {
		display: flex;
		margin-bottom: 25em;		/* 400 */	
	}
	.image {
		order: 2;
	}
	.content {
		width: 70%;
		margin-right: 0;
	}
}
/* DESKTOP HD */
@media (min-width: 1440px) {
	.image {
		background-image: url("./assets/niki---about-me-XL\ .png");
		height: 435px;
	}
	.about-me {
		margin-top: 3.05555em;		/* 110 */
	}
	.box {
		margin-left: 2.0625em;		/* 33 */
	}
	.content {
		margin-right: 2.83333em;	/* 51 */
	}
}